.dashboard {
    width: 100%;
    height: 100vh;
    .card {
        header {
            font-size: 18px;
        }
        .number {
            font-size: 45px;
            font-weight: bold;
        }
    }
}
