/* .App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@media only screen and (max-width: 600px) {
  .top-nav {
    display: none;
  }
  .signup-content {
    padding: 0px !important;
    margin: 0px auto;
    max-width: 100% !important;
  }
  img {
    width: 100% !important;
  }

  .features div {
    margin-bottom: 1rem;
  }
  .features img {
    width: 150px !important;
  }
  .achieve-goals {
    margin: 0rem !important;
    padding: 0rem !important;
  }
  .achieve-goals .left {
    margin-bottom: 4rem;
  }
  .about-us img {
    display: none;
  }
  .vocational-education {
    margin: 0px 0px 50px 0px !important;
    width: 100%;
  }
  .vocational-education h3 {
    margin-bottom: 0.5rem !important;
  }

  .footer {
    display: block !important;
    width: 100%;
    padding: 10rem 2rem !important;
  }
} */
